<mat-toolbar>
  <span>{{title}}</span>
</mat-toolbar>
<mat-drawer-container class="mat-container">
  <mat-drawer-content mode="side" opened>
    <mat-nav-list class="with-icons">
      <a mat-list-item routerLink=".">
        <mat-icon aria-hidden="true">home</mat-icon>
        Home
      </a>

      <a mat-list-item routerLink=".">
        <mat-icon aria-hidden="true">account_balance</mat-icon>
        Accounts
      </a>

      <a mat-list-item routerLink=".">
        <mat-icon aria-hidden="true">category</mat-icon>
        Categories
      </a>

      <a mat-list-item routerLink=".">
        <mat-icon aria-hidden="true">people</mat-icon>
        Payees
      </a>

      <a mat-list-item routerLink=".">
        <mat-icon aria-hidden="true">money</mat-icon>
        Currencies
      </a>

      <a mat-list-item routerLink=".">
        <mat-icon aria-hidden="true">view_compact</mat-icon>
        Budget
      </a>

      <a mat-list-item routerLink=".">
        <mat-icon aria-hidden="true">pie_chart</mat-icon>
        Reports
      </a>

      <a mat-list-item routerLink=".">
        <mat-icon aria-hidden="true">info</mat-icon>
        About
      </a>

    </mat-nav-list>
  </mat-drawer-content>
</mat-drawer-container>
